* {
  box-sizing: border-box;
  font-family: Acrom, serif;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row,
.col {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.contents {
  display: contents;
}

.cm1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 20px;
  height: 5px;
  left: 20px;
  top: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;

  .frame_4592 {
    position: static;
    width: 2px;
    height: 20px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 16px;
    height: 20px;
    left: 2px;
    top: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

    .frame_4611 {
      position: static;
      width: 16px;
      height: 3.42px;
      left: 0px;
      top: 0px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;
    }

    .bbloxx-1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 16px;
      height: 6.75px;
      left: 0px;
      top: 3.42px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4591 {
        position: static;
        width: 1px;
        height: 6.75px;
        transition-duration: 2s;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-1 {
        position: relative;
        width: 15px;
        height: 6.75px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
        
      }
   .grax-1::before {
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: linear-gradient(0deg, #FF5F49, #FF5F49), #FFFFFF;
        z-index: 1;
        transition: opacity 0.5s linear;
        opacity: 0;
      }  
    }

    .frame_4609 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 16px;
      height: 3px;
      left: 0px;
      top: 10.17px;
      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4592 {
        position: static;
        width: 8px;
        height: 3px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .frame_4593 {
        position: static;
        width: 8px;
        height: 2px;
        left: 8px;
        top: 0px;
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 0px;
      }
    }

    .bbloxx-2 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 16px;
      height: 3.42px;
      left: 0px;
      top: 13.17px;
      flex: none;
      order: 3;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;

      .frame_4592 {
        position: static;
        width: 6px;
        height: 3.42px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-2 {
        position: relative;
        width: 10px;
        height: 3.42px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
        transition-duration: 2s;
      }
     .grax-2::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0px;
        background: linear-gradient(0deg, rgba(255, 95, 73, 0.5), rgba(255, 95, 73, 0.5)), #FFFFFF;
        z-index: 1;
        transition: opacity 0.5s linear;
        opacity: 0;
      } 
    }

    .frame_4592 {
      position: static;
      width: 16px;
      height: 3.42px;
      left: 0px;
      top: 16.58px;
      flex: none;
      order: 4;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;
    }
  }

  .frame_4591 {
    position: static;
    width: 2px;
    height: 20px;
    left: 18px;
    top: 0px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }
}

.cm1.focus { 
  .bbloxx-1 {
    transform: translateY(6.41px);
    .grax-1::before {
      transition-duration: 1s;
      opacity: 10;
    }
  }
  .bbloxx-2 {
    transform: translateY(-9.75px);
    .grax-2::before {
      transition-duration: 1s;
      opacity: 10;
    }
  }
}

.cm2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;

  .frame_4592 {
    position: static;
    width: 2.17px;
    height: 20px;
    left: 17.83px;
    top: 0px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 15.67px;
    height: 20px;
    left: 2.17px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;

    .bbloxx-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 6.75px;
      height: 20px;
      left: 8.92px;
      top: 0px;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4593 {
        position: static;
        width: 6.75px;
        height: 6px;
        left: 0px;
        top: 14px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-1 {
        position: relative;
        width: 6.75px;
        height: 10px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;

        }
        .grax-1::before {
          position: absolute;
          content: "";
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          background: linear-gradient(0deg, rgba(255, 95, 73, 0.5), rgba(255, 95, 73, 0.5)), #FFFFFF;
          z-index: 1;
          transition: opacity 0.5s linear;
          opacity: 0;
        }    

      .frame_4594 {
        position: static;
        width: 6.75px;
        height: 4px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
      }
    }

    .frame_4606 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 2.17px;
      height: 20px;
      left: 6.75px;
      top: 0px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4593 {
        position: static;
        width: 2.17px;
        height: 8px;
        left: 0px;
        top: 12px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .frame_4591 {
        position: static;
        width: 2.17px;
        height: 8px;
        left: 0px;
        top: 4px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .frame_4594 {
        position: static;
        width: 2.17px;
        height: 4px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
      }
    }

    .bbloxx-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 6.75px;
      height: 20px;
      left: 0px;
      top: 0px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4593 {
        position: static;
        width: 6.75px;
        height: 1px;
        left: 0px;
        top: 19px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-2 {
        position: relative;
        width: 6.75px;
        height: 15px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 0px;
      }
      .grax-2::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0px;
        background: linear-gradient(0deg, #FF5F49, #FF5F49), #FFFFFF;
        z-index: 1;
        transition: opacity 0.5s linear;
        opacity: 0;
      } 

      .frame_4594 {
        position: static;
        width: 6.75px;
        height: 4px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
      }
    }

  }

  .frame_4611 {
    position: static;
    width: 2.17px;
    height: 20px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }
}

.cm2.focus {
  .bbloxx-1 {
    transform: translateX(-8.92px);
    .grax-1::before {
      transition-duration: 1s;
      opacity: 1;
    }
  }

  .bbloxx-2 {
    transform: translateX(8.92px);
    .grax-2::before {
      transition-duration: 1s;
      opacity: 1;
    }
  }
}

.cm3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;

  .frame_4591 {
    position: static;
    width: 1px;
    height: 20px;
    left: 19px;
    top: 0px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 18px;
    height: 20px;
    left: 1px;
    top: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

    .frame_4592 {
      position: static;
      width: 18px;
      height: 3.28px;
      left: 0px;
      top: 16.72px;
      flex: none;
      order: 4;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;
    }

    .bbloxx-1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 18px;
      height: 6.75px;
      left: 0px;
      top: 9.97px;
      flex: none;
      order: 3;
      align-self: stretch;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4594 {
        position: static;
        width: 1.5px;
        height: 6.75px;
        left: 16.5px;
        top: 0px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-1 {
        position: relative;
        width: 15px;
        height: 6.75px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
      }
      .grax-1::before {
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: linear-gradient(0deg, #FF5F49, #FF5F49), #FFFFFF;
        z-index: 1;
        transition: opacity 0.5s linear;
        opacity: 0;
      } 

      .frame_4591 {
        position: static;
        width: 1.5px;
        height: 6.75px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }
    }
    .frame_4611 {
      position: static;
      width: 18px;
      height: 3.28px;
      left: 0px;
      top: 6.7px;
      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;
    }

    .bbloxx-2 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      position: static;
      width: 18px;
      height: 3.42px;
      left: 0px;
      top: 3.28px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin: 0px 0px;

      .frame_4594 {
        position: static;
        width: 1.5px;
        height: 3.42px;
        left: 16.5px;
        top: 0px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }

      .grax-2 {
        position: relative;
        width: 15px;
        height: 3.42px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(37, 47, 61, 0.2), rgba(37, 47, 61, 0.2)), #FFFFFF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
      }

      .grax-2::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0px;
        background: linear-gradient(0deg, rgba(255, 95, 73, 0.5), rgba(255, 95, 73, 0.5)), #FFFFFF;
        z-index: 1;
        transition: opacity 0.5s linear;
        opacity: 0;
      } 

      .frame_4592 {
        position: static;
        width: 1.5px;
        height: 3.42px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
      }
    }

    .frame_4612 {
      position: static;
      width: 18px;
      height: 3.28px;
      left: 0px;
      top: 0px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 1;
      margin: 0px 0px;
    }

  }

  .frame_4592 {
    position: static;
    width: 1px;
    height: 20px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
  }
}

.cm3.focus {
  .bbloxx-1 {
    transform: translateY(-6.69px);
    .grax-1::before {
      transition-duration: 1s;
      opacity: 1;
    }
  }

  .bbloxx-2 {
    transform: translateY(10.02px);
    .grax-2::before {
      transition-duration: 1s;
      opacity: 1;
    }
  }
}

.sliderContainer {
  position: relative;
  top: 5px;
  height: 18px; 
  width: 55px;
  margin: 38px 10px 10px -55px;

  output {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 5px;
  color: black;
  border-radius: 10px 10px 0 10px;
  font-size: 3.5px;
  }
}

.slider {
  position: absolute;  
  -webkit-appearance: none;
  background: grey; 
  width: 55%;
  height: 1px;
  outline: none;
  top: 2px;
  margin-top: 10px;
  border-radius: 5px;

}
.slider::-webkit-slider-thumb {
appearance: none;
width: 3px;
height: 3px;
background: blue;
border-radius: 50%;
cursor: pointer;
}

.switchContainer {
  position: absolute;
  top: 59px;
  width: 125px;
  height: 0px;
  left: 5px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
    
}

.customBezier {
  position: absolute;
  top: 16px;
  left: 0px;
  margin: 0 auto;
  font-size: 3.5px;
}

.switch-for {
  position: relative;
  width: 15px;
  height: 5px;
  top: 16px;
  left: -5px;
  font-size: 3.5px;
}

.switch {
  position: relative;
  top: 17px;
  left: -5px;
  right: -10px;
  height: 5px;
  width: 4px;
  cursor: pointer;
}

.grafik{
  position: absolute;
  left: 80px;
  top: 10px;
  height: 60px;
  width: 60px;
  border: .5px solid black;
  border-radius: 1px;
}
.path {
font-size:5px;
}

